<%- include("includes/head.ejs") %>
<form action="/add-user" method="POST">
    <input type="text" name="username">
    <button type="submit">Add user</button>
</form>
<%- include("include/end.ejs") %>