<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>

    <nav>
        <ul>
            <% if (isAuthenticated) { %>
                <li>Admin</li>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
                <% } %>
                    <li>Users</li>
        </ul>
    </nav>

    <form action="/login" method="POST">
        <input type="email" name="email">
        <input type="password" name="password">
        <% if (!isAuthenticated) { %>
            <button type="submit">Login</button>
            <% } %>
    </form>
</body>

</html>